body {
    font-family: "Arial", sans-serif;
    margin: auto;
    background-color: #e9edee;
}

main {
    margin: 0 2em
}

header {
    background-color:#222f3f;
    height: 4em;
    width: 100%;
}

header img {
    width: 8rem;
    padding: 0.5rem;
}

.subheader {
    display: inline-block;
    width: 100%;
    background-color: #364759;
    color: white;
    padding: 0.7em 0;
}


.subheader a {
    padding-left: 2em;
    color: white;
    text-decoration: none;
}

.bg-orange {
    width: 100%;
    background-color: #f46600;
    height: 3.5em;
    margin: 3.5em auto;
}

.bg-orange h2 {
    color: white;
    text-align: center;
    padding: 1em;
}

.gift-guides {
    background-image: url(../images/bg-image.png);
    background-size: contain;
    height: 20em;
    margin: 0;
}

.gift-guides h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.gift-guides h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;   
}

.gifts-container {
    background-color: #ffffff;
    height: 38em;
    display: inline-block;
   border-radius: 0.15em;
    width: 100%;
    margin: 2em 0;
    padding: 0.5em;
    line-height: 2;
}

.gifts-container span  {
    padding: 0.7em;
    font-size: 1.2em;
    font-weight: 650;
}
.gifts-container a {
    text-decoration: none;
    font-size: 0.8em;
}

.gifts-container img {
    width: 23%;
    height: 32em;
    margin: auto 1em;
    border-radius: 3em;
    object-fit: cover;
    box-shadow: 22px 14px 15px -3px rgba(0,0,0,0.1);
}

.img9-container img {
    width: 100%;
    height: 35em;
    text-align: center;
}

.img9-container p  {
    padding: 0.7em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}
.img9-container a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.8em;
    color:  #005560;
}

.img10-container img {
    width: 100%;
    height: 35em;
    text-align: center;
    border: none;
    object-fit: cover;
}

.img10-container p  {
    padding: 0.7em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}
.img10-container a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.8em;
    color: #005560;
}

.img-text {
    margin-top:0;
    margin-bottom: 3em
}

.above-footer {
    width: 100%;
    background-color: #364759;
    text-align: center;
    padding: 0.8em 0;
}

.above-footer a {
    color: white;
    padding: 5em;
}
.footer {
    background-color:#222f3f;
    height: 12em;
    width: 100%;
    text-align: center;
}

.footer img {
    width: 8rem;
    padding: 4rem;
    text-align: center;
}
